# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Local IDE settings
.vscode/

# SQLite database files
*.db

# Distribution / packaging
dist/
build/
*.egg-info/
# virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

#SQlite database
*.db